body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


  .UnoForm {
  display: flex;
  flex-direction: column; 
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  padding: 20px;
 }

.title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
  text-decoration: underline;
  text-align: center;
}

.sub-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="number"] {
  
   width: 30px;   
  height: 25px;  
  font-size: 14px; 
  margin-bottom: 10px;
  
}

.difficulty label {
  font-weight: normal;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.difficulty input[type="radio"] {
  margin-right: 10px;
  
}

button {
    text-align: center;

}


